*{
    margin: 0px;
    padding: 0px;
}
.fon{
    background-image: url('fon.png');
    background-repeat: repeat-x;
    height: 430px;
}
.fon2{
    background-image: url('pastgi qism.png');
}
